<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!--# echo var="title" default="David Dasa" --></title>
    <!-- Base CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/components.css">
    <link rel="stylesheet" href="/assets/css/utilities.css">
</head>
<body>
    <!-- Navigation Section -->
    <nav>
        <ul>
            <li class="logo">
                <a href="https://www.daviddasa.com">
                    <img src="/assets/img/DD_logo.png" alt="Logo" width="50" height="50">
                </a>
            </li>
            <li class="home-link"><a href="https://www.daviddasa.com/">Home</a></li>
            <li><a href="https://www.daviddasa.com/about">About</a></li>
            <li><a href="https://www.daviddasa.com/projects">Projects</a></li>
            <li><a href="https://www.daviddasa.com/skills">Skills</a></li>
            <li><a href="https://www.daviddasa.com/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="container"> 